# Private stuff
bin/.local/bin/gamma
my-fonts/
personal/

# Other stuff
nvim/.config/nvim/plugin
bin/.local/bin/pkg
bin/.local/bin/LICENSE
bin/.local/bin/README.md
bin/.local/bin/glow
bin/.local/bin/swallow
paru/
pkg/
