* {
  all: unset;
}

window {
  font-family: 'Fira Code Nerd Font'
}

.title-info {
  margin-left: 10px;
  color: #A89984;
}

.workspaces {
  margin-left: 15px;
}

.battery {
  margin-right: 15px;
}

.tag-active {
  color: #FABD2F;
}
