[user]
  email = derekjtata@gmail.com
  name = Derek Tata

[init]
  defaultBranch = main

[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
