* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Fira Code Nerd Font;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.0);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #FBF1C7;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-right-arrow-gray,
#custom-left-arrow-gray {
  color: #665C54;
}

#custom-semicircle-separator {
  color: #504945;
}

#custom-light-semicircle-separator {
  color: #665C54;
  background: #504945;
}

#custom-dark-semicircle-separator {
  color: #504945;
  background: #665C54; 
}

#workspaces button {
  padding: 0px 5px;
  background-color: transparent;
  color: #FBF1C7;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px #FBF1C7;
}

#workspaces button.focused {
  background-color: #665C54;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#tags button {
  padding: 0px 5px;
  color: #FBF1C7;
}

#tags button.occupied {
  background-color: #504945;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px #FBF1C7;
}

#tags button.focused {
  background-color: #EBDBB2;
  color: #282828;
}

#tags button.urgent {
  background-color: #eb4d4b;
}

#mode {
  color: #FBF1C7; 
  background-color: #665C54;
  box-shadow: inset 0 -2px #FBF1C7;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 0 0px;
  color: #DFDFDF;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #665C54;
  box-shadow: inset 0 -1px #FBF1C7;
}

#battery {
  background-color: #504945;
  color: #DFDFDF;
}

label:focus {
  background-color: #000000;
}

#network {
  background-color: #504945;
  color: #DFDFDF;
}

#pulseaudio {
  background-color: #665C54;
  color: #DFDFDF;
}

#tray {
  background-color: #665C54;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
